/* src/components/Footer.css */
.footer {
    background-color: #333; /* Cambia esto al color que desees */
    color: #fff; /* Cambia esto al color que desees */
    padding: 40px;
    text-align: center;
  }
  