/* src/components/Header.css */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333; /* Cambia esto al color que desees */
    color: #fff; /* Cambia esto al color que desees */
    padding: 20px 0;
    display: flex; /* Utiliza flexbox */
    flex-direction: column; /* Apila los elementos verticalmente */
    align-items: center; /* Centra horizontalmente los elementos */
  }

  .logo {
    width: 200px; /* Ajusta el ancho del logo según sea necesario */
    margin-right: 30px; /* Espacio entre el logo y el título */
  }
  
  .header h1 {
    margin-bottom: 10px; /* Espacio inferior entre el título y la navegación */
  }
  
  .header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Utiliza flexbox */
  }
  
  .header nav ul li {
    margin-right: 30px; /* Espacio entre los elementos */
  }
  
  .header nav ul li:last-child {
    margin-right: 0; /* Elimina el margen derecho del último elemento */
  }
  
  .header nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  